/* ini File css */

main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main-title {
    text-align: center;
}

.main-section {
    padding: 16px;
    background-color: aqua;
    border-radius: 4px;
}

.section-celcius {
    padding-top: 16px;
}

.section-fahrenheit {
    padding-top: 16px;
}

.section-result {
    padding-top: 16px;
}

.section-explaination {
    padding-top: 16px;
}

textarea {
    width: 100%;
    height: 32%;
    resize: none;
    border: lavender;
    border-radius: 4px;
    font-size: 16px;
}

.formula-s-besar {
    font-size: 20px;
    font-style: italic;
}

.formula-s{
    font-size: 20px;
    font-style: italic;
}

.formula-s>sub {
    font-style: normal;
}

.formula-p {
    font-style: italic;
}

.container-button {
    padding-top: 8px
}

#button-convert{
    background-color: forestgreen;
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    margin-right: 8px;
}

#button-reset{
    background-color: rgb(253, 249, 3);
    color: rgb(3, 3, 3);
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    margin-right: 8px;
}

#button-reverse{
    background-color: rgb(250, 73, 3);
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
}

#f-to-c {
    display: none;
}

